{% load static %}




<div class="section section-md">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 col-md-6">
                <div class="card shadow text-center">
                    <div class="card-header bg-white border-0 pb-0">
                        <span class="card-text small"><span class="far fa-calendar-alt me-2"></span>15 March 2021</span>
                    </div>
                    <div class="card-body">
                    <h3 class="h5 card-title">We partnered up with Google</h3>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary btn-sm">Learn More</a>
                    </div>
                    <div class="card-footer bg-white border-0">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="23k followers">
                            <img class="avatar-sm me-2 img-fluid rounded-circle" src="{% static 'assets/img/team/profile-picture-2.jpg' %}" alt="Moore avatar"> Jo J. Moore
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<h1 class="text-center">News</h1>
<div class="section section-md">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card shadow">
                    <img src="{% static 'assets/img/blog/image-1.jpg' %}" class="card-img-top rounded-top" alt="Themesberg office">
                    <div class="card-body">
                        <span class="h6 icon-tertiary small"><span class="fas fa-medal me-2"></span>DCI DCI</span>
                        <h3 class="h5 card-title mt-3">DCI</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet. Qui natus adipisci eos nobis assumenda quo facere tempore qui iusto natus nam Quis optio non nihil voluptatibus qui Quis totam. Aut earum iusto aut enim doloribus eos dolor nostrum ut quis doloremque est nulla maxime. Eum numquam explicabo et omnis labore et galisum harum. </p>
                        <a href="#" class="btn btn-primary btn-sm">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

