<!DOCTYPE html>
<html>
<head>
    <title>Sua Homepage</title>
</head>
<body>
    <h1>Últimas notícias</h1>
    <div>
        <main class="posts">
                    <ul>
                    <h1>Notícias<h1><hr style="border-color: black;">
                        <br>
                    {% for post in latest_posts %}
                        Titulo: <a href="{% url 'detalhes_noticias' post.pk %}">{{ post.title }}</a>
                        <br>
                        <small>{{ post.body }}</small><br><br><hr style="border-color: black;">
                    {% endfor %}
                    <ul>
        {% comment %} {% for post in latest_posts %}
        <div>
            <h2>{{ post.title }}</h2>
            <img src="{{ post.image.url }}" alt="{{ post.title }}" width="200">
            <p>{{ post.content }}</p>
        </div>
        {% endfor %} {% endcomment %}
    </div>
</body>
</html>
