<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>DCI</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
</head>
<body>
<main class="container">
    <div class="row text-center justify-content-center">
        <div class="col">
            <h1 class="display-4">Bem vindo ao site do DCI</h1>
        </div>
    </div>
</main>
<br/><br/>
<div>
<main class="posts">
            <ul>
            <h1>Notícias<h1><hr style="border-color: black;">
                <br>
                <div class="row">
            {% for post in noticias %}
                {% if forloop.counter <= max_posts_to_show %}
                <div class="col-10 col-sm-10 col-xl-4 mb-5 mb-lg-0">
                    <div class="card border-light">
                        <img src="{{ post.image.url }}" class="card-img-top rounded-top" alt="{{ post.title }}" height  ="200">
                        <div class="card-body">
                            <a href="{% url 'detalhes_noticias' post.pk %}"><h3 class="card-title mt-3">{{ post.title }}</h3></a>
                            <h5 class="card-text">{{ post.body}}</h5>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
                <div>
            </main>
</body>

</html>


