
{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class="section section-md">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="nav-wrapper position-relative">
                    <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
                        <li class="nav-item">
                            <a class="nav-link mb-sm-3 mb-md-0 active" data-bs-toggle="tab" href="#">Con ICC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-sm-3 mb-md-0" data-bs-toggle="tab" href="#">PETIC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-sm-3 mb-md-0" data-bs-toggle="tab" href="#">Divulga+</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-sm-3 mb-md-0" data-bs-toggle="tab" href="#">CInter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-sm-3 mb-md-0" data-bs-toggle="tab" href="#">Divulgação Científica</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-sm-3 mb-md-0" data-bs-toggle="tab" href="#">MATECA FAMGN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-sm-3 mb-md-0" data-bs-toggle="tab" href="#">CAMALEÃO EM CENA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-sm-3 mb-md-0" data-bs-toggle="tab" href="#">DCI na Escola</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-sm-3 mb-md-0" data-bs-toggle="tab" href="#">Outras Produções</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}